.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  a {
    color: rgb(228, 228, 228);
  }
  
  a:hover {
    color: white;
  }
  
  
  .imgItem {
    width: 500 px;
    height: 1000 px;
  }
  
   .itemBox{
  
    padding: 40px;
    background-color: aqua;
   }
  
  .img-box{
    width: 100%;
  }
  
  .header {
    text-align: center;
    /* color: #282c34; */
    /* background-image: url(bglogin-new.png); */
    /* background-color: black; */
  }
  
  .row1 {
    height: 100px;
    background-color: black;
  }
  
  .row2 {
    height: 120px;
    background-color: black;
  }
  
  .row3 {
    height: 10px;
    background-color: black;
  }
  
  .row4 {
    height: 370px;
    background-color: black;
  }
  
  .row5 {
    height: 100px;
    background-color: black;
  }
  
  .login-box {
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    box-shadow: 2px 5px 2px rgb(15, 15, 15);
  }
  
  .usernameInput, .passwordInput {
    width: 300px;
    margin: 10px;
  }
  
  .usernameInput {
    margin-top: 50px;
  }
  
  .passwordInput {
    margin-bottom: 30px;
  }
  
  .remember {
    margin-right: 70px;
    margin-bottom: 15px;
    
  }
  
  .login-form-button{
    padding-right: 130px;
    padding-left: 130px;
    background-color: black;
    border-color: black;
  }
  
  .login-form-button:hover{
    background-color:  rgb(17, 17, 17);
    border-color: rgb(17, 17, 17);
  }
  
  .register {
    margin-top: 10px;
    padding-bottom: 70px;
  }
  
  .login-form-forgot:hover, .register-link:hover {
    color: black;
  }
  
  .login-form-forgot, .register-link {
    color: dimgray;
  }
  
  .addPictureIcon {
    align-items: center;
  }
  